
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Donor Information</title>

</head>

  {%load static%}
  <link rel="stylesheet" type="text/css" href="{% static 'stylee.css' %}">
<body>

<center><h1>Donor Information</h></center>

<table>
  <tr>
    <th>Donor Name</th>
    <th>Blood Bank</th> 
    <th>District</th>
    <th>Number</th>
    <th>Email</th>
    <th>Blood Group</th>
  </tr>
  <tr>
    <td>poova</td>
    <td>abc blood bank</td>
    <td>Theni</td>
    <td>1234567890</td>
    <td>john@example.com</td>
    <td>O+</td>
  </tr>

</table>

</body>
</html>



</body>
