<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Donor Login</title>
</head>

  {%load static%}
  <link rel="stylesheet" type="text/css" href="{% static 'stylee.css' %}">
<body>

<center><h2>Donor signup</h2>
<form>
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" required><br><br>
  
  <label for="Blood Bank">BloodBank:</label><br>
  <input type="text" id="bloodbank" name="bloodbank" required><br><br>
  
  <label for="district">District:</label><br>
  <input type="text" id="district" name="district" required><br><br>
  
  <label for="number">Number:</label><br>
  <input type="text" id="number" name="number" required><br><br>
  
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" required><br><br>

  <label for="Password">Password:</lable><br>
  <input type="password" id="password" name="password" required><br>
  <br>
  
  <label for="bloodgroup">BloodGroup:</label><br>
  <input type="text" id="bloodgroup" name="bloodgroup" required><br><br>
  
  
  
  <button type="submit">signin</button></center>
</form>

</body>
</html>

